@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover; /* Ensure the SVG covers the entire body */
    background-repeat: no-repeat; /* Prevent repeating the SVG */
    background-position: center;
    background-image: url('/bg.svg');
}
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradient-icon {
    background: linear-gradient(90deg, #3b82f6, #8b5cf6, #ec4899);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
  }
  
  .group:hover .gradient-icon {
    background: linear-gradient(90deg, #60a5fa, #a78bfa, #f472b6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
  }